# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Temporary files
*.log